---
import type { InferEntrySchema } from "astro:content";
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import Button from "./starwind/button";
import {
  ItemContent,
  ItemDescription,
  ItemMedia,
  ItemTitle,
} from "./starwind/item";
import Item from "./starwind/item/Item.astro";

interface Props extends HTMLAttributes<"section"> {
  frontmatter: InferEntrySchema<"blog" | "projects">;
  backPageUrl?: string;
}

const {
  frontmatter,
  backPageUrl,
  class: className,
  ...props
} = Astro.props as Props;
---

<Item
  as="section"
  variant="muted"
  class:list={["flex flex-col items-start w-full gap-2 border-muted", className]}
  {...props}
>
  <div class="flex items-start justify-between w-full">
    <ItemContent class="flex flex-col gap-1">
      <ItemTitle class="font-bold text-3xl">{frontmatter.title}</ItemTitle>
      <p class="flex gap-3 text-muted-foreground text-xs">
        <span class="flex gap-0.5">
          <Icon name="lucide:calendar" size={15} />
          {frontmatter.pubDate.toLocaleDateString("en-IN", {
            year: "numeric",
            month: "short",
            day: "2-digit",
          })}
        </span>
        <span class="flex gap-0.5">
          <Icon name="lucide:user-pen" size={15} />
          {frontmatter.author}
        </span>
      </p>
    </ItemContent>
    <ItemMedia>
      <Icon name={frontmatter.icon} size={60} />
    </ItemMedia>
  </div>

  <ItemDescription>
    <p>{frontmatter.description}</p>
  </ItemDescription>

  {backPageUrl && <Button variant="ghost" size="sm" href={backPageUrl}>
    <Icon name="lucide:arrow-left" size={20} /> Back
  </Button>}
</Item>
