---
import type { HTMLAttributes } from "astro/types";
import { Icon } from "astro-icon/components";
import { Button } from "@/components/starwind/button";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/starwind/card";
import type { ProjectsData } from "@/lib/data-loaders/projects";

type Project = ProjectsData["projects"][number];

interface Props extends HTMLAttributes<"div"> {
  project: Project;
}

const { project, class: className, ...props } = Astro.props as Props;
---

<Card class:list={["justify-between", className]} {...props}>
  <CardHeader class="flex flex-wrap justify-between items-start">
    <div>
      <CardTitle class="flex items-center gap-1">
        {project.relative_url && <a href={project.relative_url}>
                <Icon name="lucide:external-link" size={15} class="rotate-270 hover:text-outline transition"/>
            </a>}
        {project.title}
      </CardTitle>
      <CardDescription class="text-sm">{project.completed_on}</CardDescription>
    </div>

    <div class="flex gap-1">
      {project.urls.map((item) => (
            <Button
            size="icon-sm"
            variant="outline"
            href={item.url}
            title={item.name}
            >
              <Icon name={item.icon} title={item.name} />
            </Button>
          ))}
    </div>
  </CardHeader>

  <CardContent class="text-justify">
    {project.description.length > 320 ? `${project.description.slice(0, 320)}...` : project.description}
  </CardContent>

  <CardFooter class="flex-wrap justify-center gap-3 p-4 border-muted">
    {project.tech_icons.map((tag) => (
          <span class="inline-flex items-center justify-center">
              <Icon name={tag} size={18} />
          </span>
        ))}
  </CardFooter>
</Card>
